/* line 4, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 22, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

/* line 53, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 58, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  h1 img {
    margin: 0; }

/* line 60, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 64, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 69, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 74, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 79, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

/* line 83, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* line 85, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p {
  margin: 0 0 1.5em; }
  /* line 87, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 91, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 95, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:visited {
    color: #000066; }
  /* line 15, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:focus {
    color: black; }
  /* line 18, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: black; }
  /* line 21, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:active {
    color: #cc0099; }

/* line 98, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 102, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong {
  font-weight: bold; }

/* line 104, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em {
  font-style: italic; }

/* line 106, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold; }

/* line 109, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub {
  line-height: 0; }

/* line 111, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666; }

/* line 113, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 116, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del {
  color: #666; }

/* line 118, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 121, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 123, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol {
  margin: 0 1.5em; }

/* line 125, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

/* line 128, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

/* line 131, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl {
  margin: 0 0 1.5em 0; }
  /* line 133, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  dl dt {
    font-weight: bold; }

/* line 135, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd {
  margin-left: 1.5em; }

/* line 137, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 140, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th {
  font-weight: bold; }

/* line 142, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th {
  background: #c3d9ff; }

/* line 144, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 146, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td {
  background: #e5ecf9; }

/* line 148, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot {
  font-style: italic; }

/* line 150, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption {
  background: #eee; }

/* line 152, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet {
  color: #666666; }

/* line 154, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud {
  color: #111111; }


/* line 36, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }

/* line 39, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee; }

/* line 42, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee; }

/* line 44, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }

/* line 46, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff; }

/* line 9, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body .clear {
  clear: both; }
/* line 12, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body .nowrap {
  white-space: nowrap; }
/* line 16, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body .clearfix {
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body .clearfix {
    display: block; }
/* line 18, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body .small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }
/* line 22, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }
/* line 26, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body .first {
  margin-left: 0;
  padding-left: 0; }
/* line 29, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body .last {
  margin-right: 0;
  padding-right: 0; }
/* line 32, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body .top {
  margin-top: 0;
  padding-top: 0; }
/* line 35, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0; }
/* line 7, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
body .showgrid {
  background: url('/images/grid.png?1258470867'); }
/* line 5, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body .error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }
  /* line 30, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body .error a {
    color: #8a1f11; }
/* line 7, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body .notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }
  /* line 38, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body .notice a {
    color: #514721; }
/* line 9, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body .success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }
  /* line 46, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  body .success a {
    color: #264409; }
/* line 11, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body .hide {
  display: none; }
/* line 13, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body .highlight {
  background: yellow; }
/* line 15, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body .added {
  background: #006600;
  color: white; }
/* line 17, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
body .removed {
  background: #990000;
  color: white; }
/* line 21, ../../../app/stylesheets/screen.sass */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body #container {
    display: block; }
/* line 23, ../../../app/stylesheets/screen.sass */
body #header, body #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px; }
  /* line 101, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body #header, * html body #footer {
    overflow-x: hidden; }
/* line 25, ../../../app/stylesheets/screen.sass */
body #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px; }
  /* line 101, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body #content {
    overflow-x: hidden; }
/* line 31, ../../../app/stylesheets/screen.sass */
body #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px; }
  /* line 101, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body #sidebar {
    overflow-x: hidden; }

/* line 15, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form label {
  font-weight: bold; }
/* line 17, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; }
/* line 20, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form legend {
  font-weight: bold;
  font-size: 1.2em; }
/* line 24, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input.text, form input.title, form input[type=text] {
  margin: 0.5em 0;
  background-color: #fff;
  padding: 5px; }
/* line 28, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input.title {
  font-size: 1.5em; }
/* line 30, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input[type=checkbox], form input.checkbox,
form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em; }
/* line 34, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form textarea {
  margin: 0.5em 0;
  padding: 5px; }
/* line 37, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form select {
  margin: 0.5em 0; }
/* line 48, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form fieldset {
  border: 1px solid #cccccc; }
/* line 50, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input.text, form input.title,
form textarea,
form select {
  border: 1px solid #bbbbbb; }
  /* line 54, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
  form input.text:focus, form input.title:focus,
  form textarea:focus,
  form select:focus {
    border: 1px solid #666666; }
/* line 41, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form input.text, form input.title {
  width: 300px; }
/* line 43, ../../../../../bin/ruby/1.9.1p243/lib/ruby/gems/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_form.sass */
form textarea {
  width: 390px;
  height: 250px; }
